src/main/mule/deployments.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9d4ba332-f7ad-49c1-8804-5bb234283f45" >
		<http:listener-connection host="localhost" port="11112" />
	</http:listener-config>
	<flow name="deploymentsFlow" doc:id="ed0478aa-483b-4506-93a5-347db7905e1d" >
		<http:listener doc:name="Listener" doc:id="35b76e7d-9972-4b5f-840c-72e414494de0" config-ref="HTTP_Listener_config" path="/deploy"/>
		<logger level="INFO" doc:name="Logger" doc:id="32d875d0-5d23-430d-8a03-240dbf83cee6" message='#["Deployments flow Started"]'/>
		<set-payload value="cicd sample project" doc:name="Set Payload" doc:id="742a90a2-d731-45fc-bc41-422d7fd5f255" />
		<logger level="INFO" doc:name="Logger" doc:id="a441c0d8-a89e-4dac-9be5-1fc0dcc9fa24" message='#["Deployments flow ended"]'/>
	</flow>
</mule>
